@import "../../../static/scss/constants";
@import "../../../static/scss/bourbon_files/bourbon";

.add-button {
    $bposition: 12.5vmin;
    
    @include position(fixed, null $bposition $bposition
                      null);
    box-shadow: 0vmin 1vmin 2vmin 0vmin
                rgba(75, 75, 75, 0.5);
    border: none;
    border-radius: 50%;
    @include size(15vmin);
    background-color: transparent;
    background-image: none;

    svg {
        vertical-align: middle;
        @include size(100%);
        
        circle {
            fill: $c-primary;
        }
    }
}
