@import "bourbon/bourbon";

* {
    @include box-sizing(border-box);
    margin: 0rem;
    padding: 0rem;
}

html, body {
    @include position(fixed, 0px 0px 0px 0px);
    margin: 0px;
    font-family: $verdana;
}
