@import "bourbon/bourbon";
@import "constants";

#main-menu-button {
    @include size($header-height);
    border: none;
    background-color: rgba($c-control-face, 0);
    background-image: none;

    img {
        @include size($header-height*0.7);
        vertical-align: middle;
    }
}

#content-shade {
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
    z-index: $zi-content - 1;
    background-color: transparent;
    @include transition(background-color 0.2s);
}
