@import "bourbon/bourbon";
@import "constants";

#app-header {
    box-shadow: 0px 0px rem(2) #000;
    @include position(fixed, 0px 0px auto 0px);
    @include display(flex);
    @include size(100vw $header-height);
    background-color: $c-control-face;
    @include align-items(center);
    
    h1 {
        @include flex-grow(1);
        font-size: 1rem;
        text-align: center;
    }
}

#content {
    @include position(fixed, $header-height 0px 0px 0px);
}
