/log.log

/virtualenv/
/env/
/gems/
/secrets/
/secrets_robin/
/qrmaster/
/make_empty_targets/
/node_modules/
/bower_components/
/static/css/
/static/js/
/static/scss/bourbon_files/
/src/utils/qrmaster/bourbon_files

.sass-cache/
__pycache__/

*~
*.pyc
*.orig
*.map
*.js
*.css
*.cache
