/log.log

/virtualenv/
/env/
/gems/
/make_empty_targets/
/node_modules/
/bower_components/
/static/css/
/static/scss/bourbon_files/
/temp/

.sass-cache/
__pycache__/

*~
*.pyc
*.orig
*.map
*.js
*.css
*.cache

/doc/_build/
/doc/log.log
/doc/*.rst
!/doc/index.rst
!/doc/todo.rst
