@import "../../../static/scss/bourbon_files/bourbon";
@import "../../../static/scss/_constants.scss";

#presentation-box {
    @include position(
        absolute, $panel-title-height 0px 0px 0px);

    .main-presentation-element {
        @include position(absolute, 0px 0px 0px 0px);
        border: none;
        @include size(100%);
        overflow: hidden;
    }
}

#presentation-box-fullscreen {
    @include position(
        absolute, null 0px 0px null);
    background: none;
    border: none;
    display: none;
    @include size(2.5rem);
    padding: 0rem;
    margin: 1rem;
    z-index: $zi-panels + 1;

    path {
        fill: $c-icon;
    }
}
