#app-header {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  z-index: zi-header;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 100vw;
  border-bottom: 1px solid #c6c6c6;
  background-color: white;
  background-image: -webkit-linear-gradient(white, #ececec);
  background-image: linear-gradient(white, #ececec);
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  #app-header h1 {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    font-size: 1rem;
    text-align: center; }

#content {
  position: fixed;
  top: 3rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: zi-content;
  background-color: #f9f9f9; }
