#loading-panel {
    display: block;
    
    .box {
        text-align: center;
    }
}

#loading-image {
    display: block;
    margin: auto;
    height: 23vmin;
    width: 23vmin;
}

#loading-text {
    display: block;
    margin: 1rem 0rem;
}
