@import "../../../static/scss/bourbon_files/bourbon";

#critical-image {
    display: block;
    margin: auto;
    @include size(23vmin);
}

%texts {
    display: block;
    margin: 1rem 0rem 0rem 0rem;
}

#critical-text {
    @extend %texts;
    text-align: center;
}

.critical-instructions {
    @extend %texts;
    text-align: justify;
}
