{% from os import path %}
{% from urllib.parse import urljoin %}

<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="style.css">
    </head>

    <body>
        {% for d in data %}
            <div class="sticker">
                <img class="qr"
                     src="{{
                        path.join('qrmaster', d[0]+'.svg')
                     }}">
                <div class="info">
                    {% if title %}
                        <h1 id=title>
                            {{ title }} ({{d[1]}})
                        </h1>
                    {% end %}
                    <p>{{ d[2] }}</p>
                    {% if img_path %}
                        <img class="image"
                             src="{{ img_path }}">
                    {% end %}
                </div>
            </div>
        {% end %}
    </body>
</html>
