@import "../../../static/scss/constants";
@import "../../../static/scss/bourbon_files/bourbon";

#home-footer {
    @include position(fixed, auto 0px 0px 0px);
    margin: 0.25rem;
    text-align: center;
    font-size: 0.5rem;
    color: $c-footer-font;
    
    :hover, :active, :link, :visited {
        color: $c-footer-font;
    }
}
