@import "../../../static/scss/bourbon_files/bourbon";

#remote-panel > .box button {
    text-align: center;
    margin: 0.25rem;
    @include flex(1);
    svg, img {
        vertical-align: middle;
    }
}

#remote-panel > .box {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-wrap (wrap);
    @include align-content(space-around);
    @include flex-direction(row-reverse);
}
