@import '../../../static/scss/bourbon_files/bourbon';
@import '../../../static/scss/constants';

.remote.box {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-content(space-around);

  > * {
    @include flex-grow(1);

    margin: .25rem;
    text-align: center;

    svg,
    img {
      @include size(2rem);
      vertical-align: middle;
    }

    path {
      fill: $c-icon;
    }
  }
}
