{% import conf %}
{% from collections import ChainMap %}

<!DOCTYPE html>

<html>
    <head>
        {% block window_title %}
            {% if 'window_title' in ChainMap(globals(),
                                             locals()) %}
                <title>{{ window_title }}</title>
            {% else %}
                <title>{{ conf.app_name }}</title>
            {% end %}
        {% end %}
        
        <meta name="author" content="{{ conf.author }}">
        <meta http-equiv="content-type"
              content="text/html; charset=UTF-8">
        <meta name="viewport"
              content="width=device-width,
                       height=device-height,
                       user-scalable={{
                           conf.user_scalable_viewport}}">
        <link rel="shortcut icon"
              href="{{ static_url('favicon.ico') }}" />
        <script>
            conf = {
                "app_name": "{{ conf.app_name }}",
                "author": "{{ conf.author }}",
                "proxy_scheme": "{{ conf.proxy_scheme }}",
                "proxy_host": "{{ conf.proxy_host }}",
                "proxy_port": {{ conf.proxy_port \
                                 if conf.proxy_port \
                                 else 'null' }},
                "debug": {{ str(conf.debug).lower() }},
                "user_scalable_viewport":
                    "{{ conf.user_scalable_viewport }}",
                "ws_scheme": "{{ conf.ws_scheme }}",
            }
        </script>
        
        {{ add_ext_file('css/base.css') }}
    </head>
    
    <body>
        {% block body %}
            {% if 'content' in ChainMap(globals(),
                                        locals()) %}
                {% if raw_content %}
                    {% raw content %}
                {% else %}
                    {{ content }}
                {% end %}
            {% end %}
        {% end %}
        
        {% module IncludeExtFiles() %}
    </body>
</html>
