{% extends "layout.html" %}

{% block header %}
    {{ add_ext_file('css/boxes.css') }}
    
    {% from notifications import boiler_ui_modules as \
       notifications %}
    
    <button type="button" id="main-menu-button">
        <img src="{{ static_url('images/main-menu.svg') }}">
    </button>
    
    <h1 id="header-title">
        {% if 'header_title' in ChainMap(globals(),
           locals()) %}
           
            {{ header_title }}
            
        {% end %}
    </h1>
    
    <div id="notifications">
        {% for notification in notifications %}
            {% module UIModuleLoader(notification) %}
        {% end %}
    </div>
{% end %}

{% block free_content %}
    {% from panels import boiler_ui_modules as panels %}
    {% from locking_panels import boiler_ui_modules as \
       locking_panels %}
    
    {% for locking_panel in locking_panels %}
        <div class="{{ locking_panel._class }}
                    locking_panel"
             id="{{ locking_panel._id }}">
            {% module UIModuleLoader(locking_panel) %}
        </div>
    {% end %}
    
    {{ add_ext_file('js/bubble.js') }}
    <div id="message-bubble">Message Bubble</div>
    
    <div id="content-shade"></div>
    
    <nav id="main-menu">
        {% for panel in panels %}
            <button type="button" class="main-menu-item"
                    data-panel-id="{{ panel._id }}">
                {{ panel.name }}
            </button>
        {% end %}
    </nav>

    {% for panel in panels %}
        <section class="{{ panel._class }}"
                 id="{{ panel._id }}">
            <h1 class="panel-title">{{ panel.name }}</h1>
            {% module UIModuleLoader(panel) %}
        </section>
    {% end %}
    
    <script
      src="{{ static_url('js/reconnecting-websocket.js') }}"
      type="text/javascript">
    </script>
    
    <script src="{{ static_url('js/boxes.js') }}"
            type="text/javascript">
    </script>
    
    <script src="{{ static_url('js/ws.js') }}"
            type="text/javascript">
    </script>
    
    <script src="{{ static_url('js/session.js') }}"
            type="text/javascript">
    </script>
{% end %}
