{% extends "base.html" %}

{% block body %}
    {{ add_ext_file('css/layout.css') }}
    
    <header id="app-header">
        {% block header %}
            {% if 'header_title' in ChainMap(globals(),
                                             locals()) %}
                <h1>{{ header_title }}</h1>
            {% else %}
                <h1>{{ conf.app_name }}</h1>
            {% end %}
        {% end %}
    </header>

    {% block free_content %}
        <section id="content" class="scrolling-panel">
            {% block content %}
                {% if 'content' in ChainMap(globals(),
                                            locals()) %}
                    {% if raw_content %}
                        {% raw content %}
                    {% else %}
                        {{ content }}
                    {% end %}
                {% end %}
            {% end %}
        </section>
    {% end %}
{% end %}
