//NUMBERS
$font-alpha: 0.7;

//SIZES
$em-base: 10px;
$header-height: rem(30);

//COLORS
$c-background: white;
$c-control-face: lighten(#dfdfdf, 10%);
$c-control-font: rgba(black, $font-alpha);
$c-white-font: rgba(white, $font-alpha);

    //app-header
    $c-control-face-light: lighten($c-control-face, 5%);
    $c-control-face-dark: darken($c-control-face, 5%);
    $c-control-border: darken($c-control-face, 20%);

//Z INDEXES
$zi-header: 5000;
$zi-panels: 4000;
