@import "bourbon_files/bourbon";
@import "constants";

#app-header {
    @include display(flex);
    @include position(fixed, 0px 0px auto 0px);
    z-index: $zi-header;
    @include size(100vw $header-height);
    border-bottom: 1px solid $c-control-border;
    @include linear-gradient($c-control-face-light,
                             $c-control-face-dark);
    @include align-items(center);
    @include justify-content(space-between);
    box-shadow: 0rem -0.9rem 0.3rem 1rem $c-header-shadow;
}

#header-title {
    @include flex-grow(1);
    text-align: center;
    font-size: 1rem;
}

.panel {
    display: none;
    z-index: $zi-panels;
    background-color: transparent;
}

.panel:not(:first-of-type) {
    display: none;
}

.panel-title {
    width: 100%;
    background-color: $c-panel-title;
    padding: $panel-title-padding;
    font-size: $panel-title-font-size;
    line-height: $panel-title-font-size;
    color: $c-white-font;
}

.scrolling-panel {
    @extend .panel;
    @include position(absolute, $header-height 0px null
                      0px);

}

.fixed-panel {
    @extend .panel;
    @include position(fixed, $header-height 0px 0px 0px);
}
